{% extends 'base.html' %}

{% block js %}
<script>
    function eliminarUser(id){
        Swal.fire({
            'title': 'Confirmación',
            'text': '¿Estás seguro de eliminar a este usuario?',
            'icon': 'warning',
            'showCancelButton': true,
            'confirmButtonColor': '#28a745',
            'cancelButtonColor': '#d33',
            'confirmButtonText': 'Sí, eliminar usuario: ',
    
            'cancelButtonText': 'Cancelar'
    
        }).then(function(result){
            if (result.isConfirmed){
                window.location.href='/eliminar-usuario/'+id+'/'
            }
        })
    }
    
    </script>
{% endblock js %}

{% block contenido %}
<div style="margin-top: 80px;" class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center">Administracion de usuarios</h3>
            <hr>
            <table class="table border mt-4 table-hover table-responsive-sm">
                <tr class="bg-success text-white">
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha creación</th>
                    <th>Opciones</th>
                </tr>

                {% for u in entity %}
                <tr>
                    <td>{{ u.username |title }}</td>
                    <td>{{ u.first_name|title}} {{u.last_name}} </td>
                    <td>{{ u.email }}</td>
                    <td> {{u.date_joined}} {{u.id}}</td>
                    <td>
                        <a href="{% url 'adm_posts' id=u.id %} " class="btn btn-sm btn-info"> <i class="fas fa-user-cog"></i> Administrar</a>
                        <a href="#" onclick="eliminarUser( {{u.id}})" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </td>
                </tr>
                {% endfor %}

            </table>

            <hr>
            <div class="mt-3">
                <!-- Paginator -->
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>



</div>

{% endblock contenido %}